<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:javaee="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<javaee:display-name>SoulWebSite</javaee:display-name>
	<javaee:description>Soul Web Site</javaee:description>
	<context-param>
		<javaee:param-name>log4jConfigLocation</javaee:param-name>
		<javaee:param-value>/WEB-INF/log4j.properties</javaee:param-value>
	</context-param>
	<context-param>
		<javaee:param-name>webAppRootKey</javaee:param-name>
		<javaee:param-value>SoulWebSite.root</javaee:param-value>
	</context-param>
	<context-param>
		<javaee:param-name>contextConfigLocation</javaee:param-name>
		<javaee:param-value>
			classpath:application_Context.xml
		</javaee:param-value>
	</context-param>
	<filter>
		<filter-name>opensession</filter-name>
		<filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
	</filter>
	<filter>
		<filter-name>struts-cleanup</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ActionContextCleanUp</filter-class>
	</filter>
	<filter>
		<filter-name>sitemesh</filter-name>
		<filter-class>org.apache.struts2.sitemesh.FreeMarkerPageFilter</filter-class>
	</filter>
	<filter>
		<filter-name>struts</filter-name>
		<filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>opensession</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>struts-cleanup</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>sitemesh</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>struts</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
		<javaee:listener-class>org.springframework.web.util.Log4jConfigListener
		</javaee:listener-class>
	</listener>
	<listener>
		<javaee:listener-class>org.springframework.web.context.ContextLoaderListener
		</javaee:listener-class>
	</listener>
	<servlet>
		<servlet-name>JspSupportServlet</servlet-name>
		<servlet-class>org.apache.struts2.views.JspSupportServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>CodeReceiverServlet</servlet-name>
		<servlet-class>com.soullleo.weibo.CodeReceiverServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CodeReceiverServlet</servlet-name>
		<url-pattern>/codeReceiver</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>WeiboServlet</servlet-name>
		<servlet-class>com.soullleo.weibo.WeiboServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WeiboServlet</servlet-name>
		<url-pattern>/weibo</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SearchServlet</servlet-name>
		<servlet-class>com.soullleo.index.SearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchServlet</servlet-name>
		<url-pattern>/s</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>